---
- name: Install Go on Fedora
  dnf:
    name: golang
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: Install Go on Debian/Ubuntu
  apt:
    name: golang-go
    state: present
  when: ansible_facts['os_family'] == "Debian"