---
- name: Install Node.js on Fedora
  dnf:
    name: nodejs
    state: present
  when: ansible_os_family == "RedHat"

- name: Install Node.js on Debian/Ubuntu
  apt:
    name: nodejs
    state: present
  when: ansible_os_family == "Debian"

- name: Install npm (Debian/Ubuntu)
  apt:
    name: npm
    state: present
  when: ansible_os_family == "Debian"