---
- name: Install k9s
  include_role:
    name: github_binary
  vars:
    tool_name: k9s
    tool_repo: derailed/k9s
    tool_binary: k9s
    tool_archive: true
    tool_asset_template: "k9s_Linux_{{arch}}.tar.gz"
    tool_archive_bin_path: k9s
